.nav {
    background-color: rgb(255 255 255 / 30%);
    padding: 0 6.4rem;
    box-sizing: border-box;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    overflow: hidden;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid rgb(255 255 255 / 30%);

    &__logo {
        content: "";
        width: 6.4rem;
        height: 6.4rem;
        background: url('../../../public/images/logo.png') no-repeat center/contain;
    }

    &__links {
        display: flex;
        align-items: center;
    }
    
    &__link {
        margin: 0 1.6rem;
        color: #4c4a4a;
        transition: 0.3s ease;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: #000000;
        }
    }
}